@import url(landing.css);

blockquote {
  background: var(--color-accent-light);
  border-left: solid 4px var(--color-accent);
  border-radius: var(--border-radius);
  font-weight: 300;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1rem 1rem 1.5rem;
}

blockquote p,
blockquote em,
blockquote span {
  margin: 0;
  padding: 0;
}

/* nav a:hover,nav a:focus, nav a:active {
  color: var(--color-accent);

}
nav:not(.nav-links-mobile):not(.brand) a:hover {
  background-color: var(--color-gray);
  color: inherit;
} */

/*
POST
*/

article.post {
  margin: 0 auto;
  width: calc(100% - 2rem);
  max-width: 65ch;
  padding: 1rem;
}

article.post header {
  margin-bottom: 2rem
}

.post--title, .post--subtitle {
  margin: 0.8rem 0;
}

.post--title {
  font-size: clamp(2rem, 5vw, 2.8rem);
}

.post--subtitle {
  font-weight: 400;
}

.post--meta {
  font-size: 0.9rem;
  opacity: 0.7;
}

.project-tag {
  border-radius: var(--border-radius);
  background-color: var(--color-gray);
  padding: 0.2rem 0.4rem;
  font-size: smaller;
}

.post .tag-list {
  display: flex;
  font-size: 0.8rem;
  list-style: none;
  padding: 0;
  margin: 0.3rem 0;
}

.post .tag-list-item a {
  background: var(--color-accent-light);
  border-radius: var(--border-radius);
  color: var(--color-muted);
  font-weight: 300;
  font-size: 0.7rem;
  text-decoration: none;
  margin-right: 0.5rem;
  padding: 0.2rem;
}

.post .category.tag-list-item a:not(:hover) {
  background-color: var(--color-gray);
  color: var(--color-dark);
}

.post .category ul {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.post .tag-list-item a:hover {
  background-color: var(--color-accent);
  color: white;
}

/* .post a {
  background-color: var(--color-accent-light);
} */

.post a:hover, .psot a:active, .post a:focus {
  background-color: var(--color-accent);
  color: white;
}

.post img {
  border-radius: var(--border-radius);
  margin: 0.25rem 0;
  max-width: 100%;
}

.post em:not(strong) {
  font-size: smaller;
  opacity: 0.8;
  text-align: center;
  width: 100%;
}

.post iframe,
.post .img-lg {
  border: none;
  width: calc(100vw);
  margin: 0 -1rem;
}

@media screen and (min-width: 826px) {
  .post iframe,
  .post .img-lg {
    border: none;
    width: calc(100vw);
    margin: 0 calc((786.5px - 100vw)/2);
  }
}

@media screen and (min-width: 1200px) {
  .post iframe,
  .post .img-lg {
    border: solid thin whitesmoke;
    width: 140%;
    margin: 0 -20%;
  }
}

.post figure.highlight {
  margin: 1rem 0;
  overflow: auto;
  border-radius: var(--border-radius);
  background: #1c1b1b;
}

.post .highlight table {
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 1rem;
}

/*
post pager
*/

.post--pager {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.5rem));
  grid-gap: 1rem;
  margin-bottom: 4rem;
  padding: 1rem 1rem 4rem;
  width: 80ch;
  max-width: calc(100% - 2rem);
  margin: 0 auto;
}

.post--pager a {
  padding: 1rem 2rem;
  border: solid thin var(--color-dark);
  border-radius: var(--border-radius);
  text-decoration: none;
}

/* RELATED AND FEATURED POSTS AND PROJECTS */

section div.featured {
  display: flex;
  grid-gap:4rem;
  flex-direction:column;
  align-items:flex-start;
}

section div.featured article img {
  border-radius: 5px;
  width: 100%;
}

.featured a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  section div.featured {
    flex-direction: row
  }
}
