@import url(landing.css);

/* :root {
  line-height: 1.6rem;
} */

blockquote {
  background: var(--color-accent-light);
  border-left: solid 4px var(--color-accent-alt-dark);
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem 0.8rem;
}

blockquote p {
  margin: 0;
}

nav {
  filter: invert(1)
}

nav a:hover,nav a:focus, nav a:active {
  color: var(--color-accent-bright);
  filter: invert(1)
}

hr {
  border: none;
  border-bottom: 2px solid var(--color-accent-light);
  height: 2px;
}

/*
POST
*/

article.post {
  margin: 0 auto;
  max-width: 80ch;
  padding: 1rem;
}

.post--title, .post--subtitle {
  margin: 0.8rem 0;
}

.post--title {
  font-size: 2.5rem;
  /* line-height: 2.5rem; */
}

.post--subtitle {
  font-weight: 400;
}

.post--meta {
  font-size: smaller;
  opacity: 0.7;
}

.post .tag-list {
  display: flex;
  font-size: 0.8rem;
  list-style: none;
  padding: 0;
}

.post .tag-list-item a {
  background: var(--color-accent-light);
  border-radius: 3px;
  margin-right: 0.5rem;
  padding: 0.2rem;
  opacity: 0.9;
}

.post .tag-list-item a:not(:hover) {
  color: var(--color-dark);
}

.post a:hover, .post a:focus, .post a:Active {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.post img {
  border-radius: 3px;
  margin: 0.25rem 0;
  max-width: 100%;
}

.post em:not(strong) {
  font-size: smaller;
  opacity: 0.8;
  text-align: center;
  width: 100%;
}

.post iframe {
  width: 100%;
}

.post figure.highlight {
  margin: 1rem 0;
  overflow: auto;
  border-radius: 3px;
  background: #1c1b1b;
}

.post .highlight table {
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 1rem;
}

.post p>img {
  margin-bottom: 0;
}

/*
post pager
*/

.post--pager {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.5rem));
  grid-gap: 1rem;
  margin-bottom: 4rem;
  padding: 1rem 1rem 4rem;
  width: 80ch;
  max-width: calc(100% - 2rem);
  margin: 0 auto;
}

.post--pager a {
  padding: 1rem 2rem;
  border: solid thin var(--color-dark);
  border-radius: 5px;
  text-decoration: none;
}

/* 
related posts section
*/

main section .post--related {
  align-items: baseline;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  grid-gap: 2rem;
  opacity: 0.8;
  text-align: left;
}

.post--related a {
  text-decoration: none;
}

.post--related img {
  border-radius: 3px;;
  width: 100%;
  object-fit: cover;
}

.post--related h2, .post--related h3 {
  margin: 0.5rem 0;
}
