# TODO [ ] check all slides
# TODO [ ] add apps check if needed
# TODO [ ] finish serving vector tiles post
# TODO [ ] add more to leaflet store locator post
# TODO [ ] clean up all titles, dates and subtitles to be the same
# TODO [ ] Fix code highlighting
# TODO [ ] Make tag link buttons smaller
# Palanquin Dark

# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site used in various parts of the site
title: getBounds
tagline: Data | GIS | Maps | Web
description: >-
  <strong>getBounds</strong>, owned and operated by Malcolm Meyer, provides custom geospatial consulting services. What started out as a simple GIS blog a decade ago has now turned into a part-time business and full-time passion. With ten years of experience in GIS and a passion for ecology, maps, open source software, urban planning, and web design, I am ready to tackle your next GIS project. I specialize in backend data analysis using PostgreSQL/PostGIS and Mapbox GL JS web map development. Interested in collaborating? Fill out the contact form and be sure to provide any specifics that will help get the conversation started.
keywords:
  [
    "gis",
    "blog",
    "geospatial",
    "vector tiles",
    "mapbox",
    "leaflet",
    "web maps",
    "dataviz",
  ]
author: Malcolm Meyer
language: en
timezone: America/New_York
defaultimage: "serving-vector-tiles.jpg"
headerimg: "serving-vector-tiles.jpg"
img: cover_dem_rivers_wide.png

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: "https://www.getBounds.com"
root: /
permalink: :category/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archive
category_dir: ""
#code_dir: downloads/code
i18n_dir: :lang
skip_render:
  - apps/**/*.*
  - apps-plugins/**
  - data/**/*.*
  - js/**/*.*
  - css/**/*.*
  - "**/*.js"
  - admin/index.html
  - admin/config.yml
  - covid19-oh/index.html
  - covid19-oh/leaflet.html
  - _redirects

# Writing
new_post_name: :year-:month-:day-:title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link.enable: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true

highlight:
  enable: true
  auto_detect: true
  line_number: false
  tab_replace: ""
  wrap: true
  hljs: true

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  per_page: 4
  order_by: -date

# Pagination
## Set per_page to 0 to disable pagination
per_page: 0
pagination_dir: page
archive: 0

# Category & Tag
default_category: blog
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: MMMM D, YYYY
time_format: HH:mm:ss

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: chota-grid

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  type:

include:
  - slides/**/*.*
  - apps/**/*.*
  - _redirects
  - admin/config.yml
  - _headers

#Hexo Exceprt Plugin
excerpt:
  depth: 1
  excerpt_excludes: ["iframe", "img"]
  more_excludes: ["iframe", "img"]
  hideWholePostExcerpts: true

responsive_images:
  - pattern: "**/*.+(png|jpg|jpeg)"
    sizes:
      lg:
        width: 1200
        height:
      # Original 1440x960 4x3 with a ratio of 1.5
      md: 
        width: 860
        height: 574
      # 16x9:
      #   width: 870
      #   height: 490
      2x1:
        width: 340
        height: 170

#feed hexo-generator-feed
feed:
  type: atom
  path: feed.xml
  limit: 1000
  hub:
  content:
  content_limit: 200
  content_limit_delim: "."
  order_by: -date

# hexo-generator-json-content
jsonContent:
  meta: false
  drafts: false
  file: posts.json
  keywords: undefined
  dateFormat: undefined
  pages:
    false
    # title: true
    # slug: true
    # date: true
    # updated: true
    # comments: true
    # path: true
    # link: true
    # permalink: true
    # excerpt: true
    # keywords: false
    # text: true
    # raw: false
    # content: false
    # author: true
  posts:
    title: true
    slug: true
    date: true
    updated: true
    comments: true
    path: true
    link: true
    permalink: true
    excerpt: true
    keywords: false
    text: true
    raw: false
    content: false
    author: true
    categories: true
    tags: true

# More detailed settings
popularPosts:
  # (optional) Popular posts options
  # googleAnalyticsAPI:
  #   clientId: ******.apps.googleusercontent.com
  #   serviceEmail: *****@developer.gserviceaccount.com
  #   key: /hexo-project-root/path/to/google-services.pem
  #   viewId: 12345678
  #   dateRange: 30
  #   expiresDate: 10
  #   pvMeasurementsStartDate: 2015/11/01
  #   rankingSheet: rankingSheet.txt
  # cache:            # (Deprecated) This options is Deprecated > v0.1.3
  #  path: hexo-related-popular-posts-ga-cached.json  # (Deprecated) This options is Deprecated > v0.1.3
  #  expiresDate: 10  # (Deprecated) This options is Deprecated > v0.1.3

  # (optional) Advanced Related posts options
  # morphologicalAnalysis:
  #   negativeKeywordsList: pluginSettings/hexo-rpp-negativewords.txt
  #   limit: 300

  # (optional) Related post's weight options
  weight:
    tagRelevancy: 1.0
    contentsRelevancy: 1.0

  # (optional) Cache options (Improve generation speed.)
  cache:
    path: .cache/hexo-popular-related-posts-ga-cached.json

  # (optional) Log options
  log: true

  cdn:
  enable: true
  base: /
  # tail: v=2019042200000
  tags:
    "img[data-orign]": data-orign

html_prettify:
  enable: true
  #exclude:
  #   - "*/**/test"
  options:
    indent_size: 2
    indent_char: " "
    max_preserve_newlines: "-1"
    preserve_newlines: false
    keep_array_indentation: true
    break_chained_methods: false
    indent_scripts: normal
    brace_style: expand
    space_before_conditional: true
    unescape_strings: false
    jslint_happy: true
    end_with_newline: true
    wrap_line_length: "0"
    indent_inner_html: false
    comma_first: false
    e4x: false
    indent_empty_lines: false

#resume
resume:
  title: Data & Geospatial Analyst
