<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h5 class="widget-title">Post Index</h5>
    <div class="ch-arhive-widget">
      <%- list_archives({
        show_count: false,
        type: 'monthly',
        order: -1,
        format: 'MMM YYYY',
        style: 'none',
        separator: ' | ',
        class: 'archive'
        }) %>
    </div>
  </div>
<% } %>
