<footer class="footer center">
  &copy 2020 <%= config.author %> | <a href="/" class="clear"><%= config.title%></a> | <a href="#">top</a>
  <span id="footer"></span>
</footer>
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js' integrity='sha512-xmztSXx5PoCaUJIvrbmL48H8QTICrvwuaRi5g7FOBtC0pf/rnCO8IJ5UYnqXVLeaqQ1fFchWZGwDHvfYrDgSwA==' crossorigin='anonymous'></script>
<script>hljs.highlightAll();</script> -->
