<nav id="nav-links-mobile" class="nav-links-mobile">
  <a href="/#">Home</a>
  <a href="/blog/">Blog</a>
  <a href="/#code">Code</a>
  <a href="/#portfolio">Portfolio</a>
  <a href="/tags/slides">Slides</a>
  <a href="/#contact">Contact</a>
  <a href="#close" class="nav-links-mobile--close"></a>
</nav>
<nav>
  <div>
    <a class="brand" href="/">getBounds</a>
    <a href="#nav-links-mobile" class="nav-links-mobile--button"
      style="background-image: url(/assets/icons/menu.svg);"></a>
    <div class="nav-links float-right">
      <a href="/blog/">Blog</a>
      <a href="/#code">Code</a>
      <a href="/#portfolio">Portfolio</a>
      <a href="/tags/slides">Slides</a>
      <a href="/#contact">Contact</a>
    </div>
  </div>
</nav>