<nav class="<% if (is_post()) {%>inverse-nav<%}%>">
  <div class="container flex">
    <a class="brand" href="/">
      <img src="/assets/logo.svg" />
      <span>getBounds</span>
    </a>
    <div class="nav-links">
      <a href="/archive">Archive</a>
      <a href="/#contact">Contact</a>
    </div>
    </div>
</nav>