<nav id="nav-links-mobile" class="nav-links-mobile">
  <a href="/#">Home</a>
  <a href="/featured/">Projects</a>
  <a href="/blog/">Blog</a>
  <a href="/#contact">Contact</a>
  <a href="#close" class="nav-links-mobile--close"></a>
</nav>
<nav>
  <div>
    <a class="brand" href="/">
      <img src="/assets/logo.svg" />
      <span>getBounds</span>
    </a>
    <a href="#nav-links-mobile" class="nav-links-mobile--button"
      style="background-image: url(/assets/icons/menu.svg);"></a>
    <div class="nav-links float-right">
      <a href="/featured/">Projects</a>
      <a href="/blog/">Blog</a>
      <a href="/#contact">Contact</a>
    </div>
  </div>
</nav>