/* @import "chota.css"; */
@import "./chota.css";
/* @import "./catamaran/catamaran.css"; */
@import "./xcode.css";
/* @import "./zenburn.css"; */
@import "./quicksand/quicksand.css";
/*! chota.css v0.6.1 | MIT License | github.com/jenil/chota */
/* @import url('https://fonts.googleapis.com/css?family=Aleo:300,400'); */
:root {
  --color-primary: #136a66;/*#6bbab5;*/
  --color-primaryLight: lightseagreen;
  /* --color-primary: #1c1d21; */
  --color-lightGrey: #67676b;
  --color-grey: #445878;
  --color-dark: #1C1D21; /*added*/
  --color-darkGrey: #31353d;
  --color-error: #FF7F66;
  --color-success: #28bd14;
  --grid-maxWidth: 180rem;
  --grid-gutter: 4rem;
  --font-size: 1.8rem;
  --font-family-headings: "Quicksand",-apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  --font-weight: 400; /*added*/
  --font-family: "Quicksand", -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --inner-width: 90rem;
}

/*random tweaks to chota*/
html, body {
  min-height: 100vh;
  color: #1c1d21;
  font-weight: var(--font-weight);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  line-height: 1.4;
}
.main {
  min-height: calc(100vh - 560px);
  flex-grow: 1;
}
.container {
  padding: 4rem 0;
}
.row {
  margin-top: 2rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0.1em 0 0.1em 0;
  font-family: var(--font-family-headings);
}
input {
  border-radius: 2px!important;
}
iframe {
  border: 0;
  max-width: 100%;
}
button, .button {
  cursor: pointer;
  border-radius: 2px;
  font-family: inherit;
}
.button.small {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.button:focus, [type="button"]:focus, [type="reset"]:focus, [type="submit"]:focus, button:focus {
  border-color: white;
  outline: transparent;
}
blockquote {
 border: none;
 font-family: var(--font-family-headings);
 font-weight: 600;
 margin: 2rem 0;
 background: transparent;
}
blockquote p {
  margin: 0;
}
.hidden {
  opacity: 0;
}
a:hover:not(.button) {
  opacity: 1;
}

.tag {
  border-color: var(--color-primary);
  color: var(--color-primary);
  font-size: 1rem;
  opacity: 0.7;
  text-decoration: none!important;
}

a.tag:focus, a.tag:hover, a.tag.active {
  background: var(--color-primary);
  color: white;
  opacity: 1;
}

.post a:hover:not(.post-title):not(.button),
.post a:focus:not(.post-title):not(.button),
.post a:active:not(.post-title):not(.button),
.footer a:hover, .footer a:active, .footer a:focus {
  /* background: whitesmoke; */
  opacity: 0.8;
}
.post a:not(.post-title):not(.button) {
  text-decoration: underline;
}
table {
  table-layout: fixed;
}
form, button, .button {
  font-family: var(--font-family-headings);
}
@media screen and (max-width: 768px) {
  .container {
    width: 96%;
  }
  .post-prev, .post-next {
    float: left!important;
    margin: 5px 0 0 0!important;
  }
}
pre {
  font-size: 1.6rem;
  background: #f9f9f9;
  border-left: solid 3px var(--color-dark);
  border-radius: 2px;
}
pre code.hljs {
  background: transparent;
}
.footer {
  flex-shrink: 0;
}
.footer a {
  color: var(--color-primaryLight);
}
/***********/
/*** NAV ***/
/***********/
.nav-top {
  padding: 0 3rem;
  position: absolute;
  height: auto;
  width: 100%;
  background: transparent;
  z-index: 100;
  font-family: var(--font-family-headings);
}
.nav-right {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
}
.nav a, .nav .brand {
  color: white;
}
.nav .brand {
  padding: 1rem 0;
  font-size: 1.1em;
}
@media screen and (max-width: 768px) {
  .nav-top .nav-left,
  .nav-top .nav-right {
    justify-content: center;
  }
  .nav-top .nav-right .button.outline {
    padding: 1rem;
  }
  .post-prev, .post-next {
    font-size: 1.4rem;
  }
}

.post-prev:hover, .post-next:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

/**
nav animated underlne
souurce: https://stackoverflow.com/questions/20544309/css-sliding-underline
*/
.nav a {
  margin: 0 1rem 0 0;
  display: block;
  color: white;
}
.nav a:not(.button):after{
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  opacity: 0.8;
}
.nav a:not(.button):hover:after,
.nav a:not(.button):focus:after {
  width: 100%;
  background: white;
  /* background: var(--color-primary); */
}

/***********/

/**
* HERO
*/

/* .navBulletsWrapper {display:none;} */
.hero {
  position: relative;
  width: 100%;
  height: 440px!important;
  max-height: 50vh;
  overflow: hidden;
  background: var(--color-dark);
}
.hero h1 {
  z-index: 2;
}
/* hero post see post */
.hero .img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  filter: brightness(50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-text {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  z-index: 2;
  color: white;
  transition: opacity 0.9s ease-in-out;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .hero-text {
    padding: 4rem;
  }
}
.hero-text h5 {
  margin: 1rem 0 2rem 0;
}
.hero .button.outline {
  color: white;
  border-color: white;
}
.hero-overlay {
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(160deg, black,black,transparent); */
  background-image: linear-gradient(160deg, #333,#333, rgba(0,0,0,0.1));
  opacity: 0.5;
  position: absolute;
  top: 0;
}
.hero-page {
  height: auto;
}
/*CARDS*/
.card {
  height: auto;
  padding: 2rem;
  min-height: 400px;
  box-shadow: none;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.card figure {
  height: 260px;
  margin: 0 0 2rem;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}
.card section, .card p {
  flex-grow: 1;
  margin: 1rem 0 2rem;
}
.card > footer {
  flex-shrink: 0;
  margin: 2rem 0 0.5rem;
}
.card.related {
  min-height: auto;
}

/*POST*/
.post {
  width: var(--inner-width);
  max-width: 100%;
  margin: 0 auto 4rem;
}
.post-header {
  margin: 0 0 4rem;
}
.post-title {
  margin: 0 0 2rem;
  color: inherit
}
a.post-title:hover, a.post-title:focus {
  color: var(--color-primary);
}
.post-title h1 {
  font-weight: 600;
}
.post-title h2, .post-title h4 {
  margin: 0;
}
.post-title h4 {
  font-size: 1em;
}
.post img + br + em {
  font-size: 1.6rem;
  opacity: 0.6;
}
.post-archive {
  margin: 2rem 0 6rem;
}
.hero.hero-post {
  height: 360px;
}
/*HELPERS*/

a.zp-headline {
  background: transparent;
}

.zp-headline {
  display: block;
  text-align: center;
  border-bottom: solid thin lightgray;
  height: 5px;
  line-height: 0.1em; 
  margin: 4rem 0;
  font-family: var(--font-family-headings);
}
.zp-headline.zp-headline-dashed {
  border-bottom: dashed thin var(--color-primary);
  line-height: 0.4em;
  /* text-align: unset; */
}
.zp-headline.zp-headline-dashed > span {
  /* border: solid thin var(--color-primary); */
  padding: 0.3rem 0.5rem;
  margin-right: 1rem;
  font-size: 1.8rem;
}
.zp-headline > span {
  padding: 0 2rem;
  background: #fff;
}
.zp-headline.zp-headline-dark {
  border-bottom: solid thick #31353d;
}
.zp-text-small {
  font-size: 1.6rem;
}
/*FOOTER*/
.footer {
  background: var(--color-dark);
  color: #ccc;
  font-size: 1.5rem;
}
.footer .container {
  min-height: 200px;
  padding: 4rem 0 1rem;
}

/* .footer .col div {
  padding: 4rem 0 2rem;
  flex-direction: column;
} */
/* ARCHIVES PAGE */
#page-nav > a {
  margin: 0 auto;
}
.archive-nav .extend,
.archive-nav .current {
  border: solid thin #6bbab54d;
  padding: 0.1em 0.5em;
}
.archive-nav .prev {
  float: left;
}
.archive-nav .page-number {
  margin: 1em;
  line-height: 40px;
}
.archive-nav .next {
  float: right;
}
/* MODAL*/
.modal .card {
  z-index: 100;
  background: white;
  padding: 2rem;
  width: 600px;
  max-width: 96%;
}
.modal .card header {
  height: auto;
}
/*css only modal - source - specrte css*/
.modal {
  align-items: center;
  bottom: 0;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: .4rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -2;
}
.modal:target {
  opacity: 1;
  z-index: 400;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.modal:target .modal-overlay {
  /* background: rgba(248,249,250,.75); */
  background: rgba(28, 29, 33, 0.75);
  bottom: 0;
  cursor: default;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
/**/

/*IMAGES*/
/*https://css-tricks.com/full-width-containers-limited-width-parents/*/
img {
  width: 100%;
}
.div-wide, .div-full {
  max-width: 100vw;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  /* margin-right: -50vw; */
}
@media screen and (min-width: 1000px) {
  .div-wide {
    width: calc(100% + 30rem);
    left: -15rem;
    position: relative;
    margin: 2rem 0;
  }
}

.mobile-img {
  display: none;
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {
  .nav-top {
    padding: 0 2rem;
    font-size: 16px;
    /* background: var(--color-dark);
    min-height: 0;
    position: relative; */
  }
  .nav-top .nav-left {
    justify-content: left;
  }
  .nav-top .nav-left a {
    padding-left: 0;
  }
  .nav-top .nav-right {
    justify-content: flex-end;
    position: absolute;
    right: 0;
  }
  .nav a {
    margin: 0;
  }
  .button {
    font-size: inherit;
  }
  .hero.hero-post {
    height: 40px!important;
  }
  .container {
    padding: 2rem;
  }
  .post-header {
    margin: 0;
  }
  .card {
    padding: 1rem 0;
  }
  .card header {
    height: 260px;
  }
  .card figure {
    width: 100vw;
    margin-left: -8%;
    border-radius: 0;
  }
  .post .card figure {
    margin-left: -10%;
  }
  .mobile-img {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  .nav-right a { 
    padding: 1rem 1rem 1rem 0.6rem 
  }
}
@media screen and (max-width: 300px) {
  .nav-right a { 
    display: none; 
  }
}

.covid {
  height: 900px;
}

@media screen and (max-width: 900px) {
  .covid {
    height: 1750px;
  }
}
