<footer class="footer has-background-black has-text-white is-size-7">
  <div class="content has-text-centered">
    a project by getBounds | Malcolm Meyer
    <br />
    powered by <a href="https://bulma.io/documentation/">Bulma</a>
    <br />
    <br />
    <a href="#">top</a>
  </div>
</footer>
