<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h5 class="widget-title">Tags</h5>
    <div class="widget">
      <%- list_tags({show_count: theme.show_count, style: "none"}) %>
    </div>
  </div>
<% } %>
