  <!-- MODAL -->
  <section>
    <div id="modal-contact" class="modal">
      <a href="#close" class="modal-overlay"></a>
      <div class="card">
        <header>
          <h4>Get in Touch</h4>
        </header>
        <p>
          I am always looking for new opportunities and collaborations. Drop me a line and I'll be in touch.
        </p>
        <form name="contact" method="POST" data-netlify="true">
          <p>
            <label>Name <input type="text" name="name" placeholder="Name"/></label>   
          </p>
          <p>
            <label>Email <input type="email" name="email" placeholder="Email"/></label>
          </p>
          <p>
            <label>Message<textarea name="message" placeholder="Message"></textarea></label>
          </p>
          <p>
            <button type="submit" class="button primary">Send</button>
            <button id="modal-contact-cancel" class="button outline pull-right">Cancel</button>
          </p>
        </form>
      </div>
    </div>
  </section>