<nav class="nav nav-top">
  <div class="nav-left">
    <a class="brand" href="<% if (page.path == '/') {%>#"</a><%}else{%>/<%}%>" rel="prefetch">zerospatial</a>
  </div>
  <!--div class="nav-center">
        <a href="#">Centered</a>
      </div-->
  <div class="nav-right"><!--move links to before serach then move below t=brand on mobile-->
    <!-- <a href="#modal-search" style="padding-top:17px">
      <img style="min-width:19px;filter: invert(1);" src="https://icongr.am/feather/search.svg?size=19">
    </a> -->
    <a href="/about/">About</a>
    <a rel="prefetch" href="/blog/">Blog</a>
    <a href="#modal-contact" class="button outline">Get in Touch</a>
  </div>
</nav>