<div class="row">
  <% page.posts.each(function(post, i){ %>
  <div class=<% if ((i === 0) || (i===3)) { %>"col-8"<%}else{%>"col"<%}%> >
    <div class="card">
      <header>
        <h4><%- post.title %></h4>
      </header>
      <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.</p>
      </section>
      <footer class="">
        <a href="<%- post.permalink %>" class="button primary outline">Read More</a>
      </footer>
    </div>
  </div>
  <% if ((i === 1) || (i === 3)) {%>  <div class="is-full-width"></div><%}%>
  <%})%>
</div>
