@import url(./bulma-0.9.1/bulma/css/bulma.min.css);
:root {
  --color: #121212;
  font-size: 20px;
  line-height: 1.4rem;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Sofia Pro", "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body,
.title {
  color: #121212;
}

.has-text-weight-light {
  font-weight: 200!important;
}

.box {
  box-shadow: none;
}
header.is-dark {
  background-color: transparent;
  background: linear-gradient(black, transparent);
}
.navbar.is-dark {
  background-color: transparent;
  background: linear-gradient(black, transparent);
  position: absolute;
  width: 100%;
}
p {
  padding: 2rem 0;
}
/*CODE*/
pre {
  background-color: #1c1b1b;
}
figure.highlight table {
  margin: 1rem 0;
  width: 100%;
}
/*.hero .title {
  font-size: 4rem;
} */

a article p {
  color: var(--color);
}

/* a article {
    filter: saturate(0.3);
  }*/
a article:hover h2,
a article:focus h2,
a article:active h2 {
  text-decoration: underline;
}
