---
layout: false
---
<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title itemprop="name">Resume | <%- config.author %></title>
  <meta name="description" content="This is the professional resume for Malcolm Meyer, Data & Geospatial Analyst and JavaScript Developer.">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Resume | Malcolm Meyer">
  <meta property="og:url" content="https://www.getbounds.com/resume/">
  <meta property="og:site_name" content="getBounds">
  <meta property="og:locale" content="en_US">
  <meta property="og:image" content="https://www.getbounds.com/assets/img/serving-vector-tiles.jpg">
  <meta property="article:author" content="Malcolm Meyer">
  <meta property="article:tag" content="resume">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://www.getbounds.com/assets/img/serving-vector-tiles.jpg">
  <link rel="stylesheet" href="/resume-style.css">
</head>

<body>
  <main class="resumeCanvas">
    <div class="gridParent">
      <header class="flex-row">
        <div class="titleHeader">

          <h1 class="name"><%- (config.author).toUpperCase() %></h1>
          <h3 class="tagline"><%- config.resume.title %></h3>

        </div>
        <!-- AVATAR -->
        <!-- <div><img class="avatar right" src="avatar.jpg"></div> -->
      </header>
      <div class="leftSide">




        <!-- <div class="item group">
            <h3 class="item-title"></h3>

            <div class="item">
              <div class="flex-row">
                <span class="job-title"></span>
                <span class="date"></span></div>
            </div>

          </div> -->
        <div class="section">
          <h1 class="section-title">Experience</h1>


          <div class="item">
            <h3 class="item-title">
              GIS Specialist
            </h3>
            <div class="flex-row">
              <span class="job-title">City of Zanesville (Zanesville, OH)</span>
              <span class="date">4/2018 – Present</span>
            </div>
            <li>
              Maintain the PostgreSQL/PostGIS database and feature server
            </li>
            <li>
              Develop and maintain production web applications
            </li>
            <li>
              Assist in managing the Enterprise Asset Management program
            </li>
          </div>


          <div class="item">
            <h3 class="item-title">
              Transportation Planning Coordinator/Research & Planning Specialist
            </h3>
            <div class="flex-row">
              <span class="job-title">OVRDC (Waverly, OH)</span><span class="date">12/2014 – 4/2018</span>
            </div>

            <p>
              <li>
                Prepared the yearly work plan for the OVRDC Regional Transportation Planning Organization
              </li>
              <li>
                Analyzed transportation and demographic GIS data
              </li>
              <li>
                Served on regional and state-wide committees related to safety and transportation planning
              </li>
            </p>
          </div>

          <div class="item">
            <h3 class="item-title">
              GIS Technician
            </h3>
            <div class="flex-row">
              <span class="job-title">City of Columbus (Columbus, OH)</span> <span class="date">
                3/2013 – 12/2014
              </span>
            </div>

            <li>
              Created, edited, and verified GIS data for city utilities
            </li>
            <li>
              Analyzed data and published thematic maps
            </li>
          </div>

          <div class="item">
            <h3 class="item-title">
              GIS Technician Part-Time/Independent Contractor
            </h3>
            <div class="flex-row">
              <span class="job-title">King-Cochran, LLC (Stewart, OH)</span><span class="date">3/2011 – 6/2014</span>
            </div>

            <li>
              Managed a variety of geodatabases and raster catalogs
            </li>
            <li>
              Post-processed and georeferenced historic township tax maps
            </li>
          </div>

          <div class="item">
            <h3 class="item-title">
              GIS Technician
            </h3>
            <div class="flex-row">
              <span class="job-title">EMH&T (New Albany, OH)</span><span class="date">10/2012 – 3/2013</span>
            </div>

            <li>
              Georeferenced and digitized historic roadway engineering plans
            </li>
            <li>
              Edited annotation and layout for print maps
            </li>
          </div>

          <div class="item">
            <h3 class="item-title">
              Park Ranger Part-Time
            </h3>
            <div class="flex-row">
              <span class="job-title">Franklin County Metro Parks (Columbus, OH)</span><span class="date">8/2011 –
                1/2013</span>
            </div>

            <li>
              Patrolled the park and performed opening and closing duties
            </li>
            <li>
              Assisted on the coordination of special projects and programs
            </li>
          </div>

          <div class="item">
            <h3 class="item-title">
              GIS Quality Control Technician 1
            </h3>
            <div class="flex-row">
              <span class="job-title">TechniGraphics/CACI Inc (Wooster, OH) </span><span class="date">2/2010 –
                6/2011</span>
            </div>

            <li>
              Worked with an international team to digitize satellite imagery for the Multinational Geospatial
              Co-Production
              Program
            </li>
            <li>
              Checked and verified GIS spatial and attribute data for adherence to project standards
            </li>
          </div>


          <div class="item group">
            <h3 class="item-title"></h3>

            <div class="item">
              <div class="flex-row">
                <span class="job-title"></span>
                <span class="date"></span></div>
              <p></p>
            </div>

            <div class="item">
              <div class="flex-row">
                <span class="job-title"></span>
                <span class="date"></span></div>
              <p></p>
            </div>

          </div>

        </div>

      </div>

      <div class="rightSide">

        <div class="section">
          <h1 class="section-title">Education</h1>

          <div class="item">
            <h3 class="item-title">MA | International Affairs</h3>
            <span>Ohio University</span><span style="float:right;">2005-2007</span>
          </div>

          <div class="item">
            <h3 class="item-title">BA | Sociology/Urban Studies</h3>
            <span>The College of Wooster</span><span style="float:right;">1994-1998</span>
          </div>

        </div>

        <!-- <div class="section">
          <h1 class="section-title">Languages</h1>
none">Turkish
              <span class="item-title-span"> - Native</span></h3>

          </div>

          <div class="item">
            <h3 class="item-title">English
              <span class="item-title-span"> - Professional</span></h3>

            <li>YDS: 86.25 - 2018</li>

            <li>TOEFL: 109 - 2021</li>

          </div>

        </div> -->

        <div class="section">
          <h1 class="section-title">Awards</h1>

          <div class="item">
            <h3 class="item-title">
              Best Interactive Map
            </h3>
            <div class="flex-row">
              <span>2018 Ohio GIS Conference</span>
            </div>
            <em><a
                href="https://gis.coz.org/internal/mapzville/?rec_parks=true&rec_parks_labels=true&Trails=true&TrailsBackground=true&rec_parks_outline=true&rec_parks_case=true#15.79/39.940209/-82.012293">City
                of Zanesville Map Viewer</a></em>
          </div>

          <div class="item">
            <h3 class="item-title">
              Best Small Format Map
            </h3>
            <div class="flex-row">
              <span>2017 Ohio GIS Conference</span>
            </div>
            <em><a href="https://www.sohiotrails.org/trails/print-maps/bridge-to-bridge-qr.pdf">Bridge to Bridge Trail
                Map</a></em>
          </div>

          <div class="item">
            <h3 class="item-title">
              Best Digital Map
            </h3>
            <div class="flex-row">
              <span>2017 Ohio GIS Conference</span>
            </div>

            <em><a href="https://www.ovrdc.org/apps/block-group-explorer.html#8/40.389/-82.462/-33.8/60">Ohio Block
                Group Explorer</a></em>

          </div>

          <div class="item">
            <h3 class="item-title">
              Savvy Web Map Award
            </h3>
            <div class="flex-row">
              <span>2016 GIS-T Conference</span>
            </div>

            <em><a href="https://www.ovrdc.org/apps/accident-explorer.html#9/39.0813/-82.9028">Vehicle Crash
                Explorer</a></em>
          </div>
        </div>

        <div class="section">
          <h1 class="section-title">Skills</h1>
          <div class="item">

            <li>ArcMap, ArcPro & QGIS</li>
            <li>JavaScript & NodeJS</li>
            <li>Leaflet & Mapbox GL JS</li>
            <li>PostgreSQL/PostGIS</li>


          </div>
        </div>

        <div class="section">
          <h1 class="section-title">Web Apps</h1>
          <div class="item flex">

            <li>
              <img src="link.svg"><a href="https://peaks.getbounds.com">US Mtn Peaks Viewer</a>
            </li>

            <li>
              <img src="link.svg"><a href="https://pandemix.getbounds.com">Pandemix Visualization</a>
            </li>

            <li>
              <img src="link.svg"><a href="https://www.malcolmmeyer.com">Project Portfolio</a>
            </li>

            <li>
              <img src="link.svg"><a href="https://www.sohiotrails.org">Southern Ohio Trails</a>
            </li>
          </div>

        </div>
      </div>
    </div>
    <div class="show-print" style="letter-spacing: 1px;width: 100%; font-size: 0.8rem; opacity: 0.6;text-align: center;"> <a href="https://www.malcolmmeyer.com">Portfolio </a>| <a href="https://www.getbounds.com">Website</a> </div>
  </main>

  <footer>
    <span class="footer-item" id="credits">
      Return to <a href="/"><span class="link-text"><%- config.title %></span></a> |
      Template by<a href="https://gitlab.com/mertbakir/resume-A4"><span class="link-text">Mert
          Bakır </span></a> | <a href="https://themes.gohugo.io/theme/resume-a4/">Demo</a>
    </span>
  </footer>

</body>

</html>
