
/** Catamaran Regular **/
@font-face {
    font-family: "Catamaran";
    font-weight: 300;
    font-style: normal;
    src: local("Catamaran"),
        url("v4/Catamaran-Light.ttf");
}

/** Catamaran Regular **/
@font-face {
    font-family: "Catamaran";
    font-weight: 400;
    font-style: normal;
    src: local("Catamaran"),
        url("v4/Catamaran-Regular.ttf");
}



/** Catamaran Regular **/
@font-face {
    font-family: "Catamaran";
    font-weight: 700;
    font-style: normal;
    src: local("Catamaran-Bold"),
        url("v4/Catamaran-Bold.ttf");
}