<% if (post.prev || post.next){ %>
<nav id="article-nav">
  <% if (post.prev){ %>
    <a rel="prefetch" href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="post-next button dark outline">
      <div class="article-nav-title">
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %>
      </div>
    </a>
  <% } %>
  <% if (post.next){ %>
    <a rel="prefetch" href="<%- url_for(post.next.path) %>" id="article-nav-older" class="post-prev button dark outline pull-right">
      <div class="article-nav-title"><%= post.next.title %> </div>
    </a>
  <% } %>
</nav>
<% } %>
<br>